/* Set the dimensions of the map container */
body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 12px;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


p {
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: #e5e5e5;
    padding: 0;
    margin: 0;
    gap: 12px;
    box-sizing: border-box;
    overflow: auto;
}

.left {
    display: grid;
    width: 600px;
    height: inherit;
    padding: 0;
    margin: 0;
    gap: 20px;
}


#map {
    height: 100%;
    width: 100%;
    background-color: grey;
}

#chart1, #chart2{
    background-color: grey;
    width: 100%;
    height: 200px;
}